.teachers-container {
  max-width: 1600px;
  width: 100%;
  margin: 20px auto;
  padding: 50px 0;
}

.teachers-title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 56px;
}

.cart-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px 0;
}

.allTeacherBtn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  border: 0 solid;
  background-color: cyan;
  border-radius: 8px;
}
