.header {
  max-width: 1920px;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  background-color: #0c359e;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav ul li {
  margin: 0px 15px;
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.user {
  display: flex;
  align-items: center;
}

.user a {
  font-size: 20px;
  font-weight: 500;
  margin-right: 15px;
  color: #ffffff;
  text-decoration: none;
}

.barIcon {
  width: 30px;
  height: 30px;
  display: none;
  color: #ffffff;
}

/* responsive for small device */

@media screen and (max-width: 576px) {
  .header {
    padding: 0 10px;
    position: relative;
  }
  .barIcon {
    display: block;
  }

  .nav {
    position: absolute;
    width: 100%;
    top: calc(100% - 2px);
    background-color: #0c359e;
    right: 0;
    z-index: 999;
  }

  .nav ul {
    flex-direction: column;
  }
  .nav ul li {
    margin: 8px 0;
  }
  .open {
    left: 0;
    transition: left 1s;
  }
  .close {
    left: -100%;
    transition: left 1s;
  }

  .user a {
    font-size: 16px;
  }
}

/* responsive for medium device */

@media screen and (min-width: 577px) and (max-width: 768px) {
  .header {
    padding: 0 20px;
  }
  .nav ul li {
    margin: 0 10px;
  }
  .nav ul li a {
    font-size: 16px;
  }
  .user a {
    font-size: 16px;
  }
}
